/*rgb(47,151,190)*/
#navbar{
  background-color: rgb(47,151,180);
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#logo{
  position: absolute;
  left: 40px;
}
#logo img{
  margin-top: 5px;
}
#logo-text{
  font-size: 30px;
  position: absolute;
  left: 100px;
  top: 5px;
  color: white;
  font-family: "Berkshire Swash"
}
#nav-links{
  float: right;
  font-size: 18px;
  font-weight: 800;
  color: white !important;
}
#nav-links li{
  display: inline;
  margin-right: 30px;
  cursor: pointer;
  color: white !important;  
}
#nav-links li:hover{
  color: brown !important;
}
.main-components{
  margin-top: 60px;
}
#home-introduction{
  background-color: rgba(47,163,204,0.8);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;   
  padding-left: 10px;
  padding-right: 10px;
}
#home-introduction .heading{
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 800;
}
@media (max-width: 600px){
  #home-introduction{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #home-introduction .heading{
    margin-bottom: 15px;
    font-size: 20px;
  }
  #home-description{
    font-size: 12px;
  }
  #navbar{
    height: 40px;
  }
  #nav-links{
    font-size: 14px;
    margin-top: 10px;
  }
  .main-components{
    margin-top:40px;
  }
  #nav-links li{
    margin-right: 10px;
  }
  #logo img{
    height: 30px;
    width: 30px;
  }
  #logo{
    left: 20px;
  }
  #logo-text{
    font-size: 18px;
    left: 60px;
  }
}