/*rgb(47,151,190)*/
#navbar{
  background-color: rgb(47,151,180);
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.gra-back{
  background-color: #B9ADAD !important;
}
#logo{
  position: absolute;
  left: 40px;
}
#logo img{
  margin-top: 5px;
}
#logo-text{
  font-size: 30px;
  position: absolute;
  left: 100px;
  top: 5px;
  color: white;
  font-family: "Berkshire Swash"
}
#nav-links{
  float: right;
  font-size: 18px;
  font-weight: 800;
  color: white !important;
}
#nav-links li{
  display: inline;
  margin-right: 30px;
  cursor: pointer;
  color: white !important;  
}
#nav-links li:hover{
  color: brown !important;
}
.main-components{
  margin-top: 60px;
}
#home-introduction, #index-introduction{
  background-color: rgba(47,163,204,0.8);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;   
  padding-left: 10px;
  padding-right: 10px;
  font-family:'Josefin Sans';
}
#home-introduction .heading, #index-introduction .heading{
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "Kanit";
  font-weight: 800;
}
#home-description{
  font-size: 16px;
}
#link-area{
  font-family: "Lato";
  width: 100%;
  background-color: rgba(47,151,180,0.3);
  height: 135px !important;
  text-align: center;
  padding-top: 50px;
  font-size: 18px;
}
#link-forum{
  border-radius: 4px;
  cursor: pointer;
 margin-left: 30px;
 margin-right: 30px;
 padding: 30px 100px; 
 background-color: white;
}
#index-hello{
  background-color: red;
}
#link-viva:hover, #link-chat:hover, #link-forum:hover{
  background-color: #36393B;
  color: white;
}
#link-viva{
  border-radius: 4px;
  cursor: pointer;
  padding: 30px 100px;
  background-color: white;
}
#link-chat{
  border-radius: 4px;
  cursor: pointer;
  padding: 30px 100px;
  background-color: white;
}
.icons-main{
  color: rgb(47,151,180);
  transform: scale(2.2,2.2);
  position: relative;
  left: -50px;
  top: 10px;
}
#index-container{
  margin-top: 60px;
}
#side-nav, #nav-trigger{
  display: none;
}
#card-container .row{
  margin-bottom: 0px !important;
}
.green-color{
  background-color: rgb(47, 180, 126) !important;
}
hr{
  background-color: #79EF6B !important;
  height: 2px !important;
  margin-top: 4px !important;
  color: #12FF12;
  border: none;
}
#display-container{
  margin-top: 60px;
}
@media (max-width: 768px){
  #display-container{
    margin-top: 40px;
  }
  #card-container{
    visibility: hidden;
  }
  #index-container{
    margin-top: 55px;
  } 
  #side-nav, #nav-trigger{
    display: block;
  }
  #link-forum{
    display: block;
    margin: 7px 0 0 0;
    width: 100%;
    padding: 20px 100px;     
  }
  #link-viva{
    display: block;
    margin-top: 7px;
    width: 100%;
    padding: 20px 100px;     
  }
  #link-chat{
    display: block;
    margin-top: 0px;
    width: 100%;
    padding: 20px 100px;     
  }
  #link-area{
    height: 350px !important;
    padding: 10px 10px;
  }
  #home-introduction, #index-introduction{
    padding-bottom: 10px;
  }
  #home-introduction .heading, #index-introduction .heading{
    margin-bottom: 7px;
    font-size: 20px;
  }
  #home-description, #index-description{
    font-size: 12px;
  }
  #navbar{
    height: 40px;
  }
  #nav-links{
    font-size: 14px;
    margin-top: 10px;
  }
  .main-components{
    margin-top:40px;
  }
  #nav-links li{
    margin-right: 10px;
  }
  #logo img{
    height: 30px;
    width: 30px;
  }
  #logo{
    left: 20px;
  }
  #logo-text{
    font-size: 18px;
    left: 60px;
  }
}